{% extends "main.html" %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Trader Dashboard
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
            <h3 class="text-center">Trader Details</h3>
            <!--
            Fill these up whenever you feel like it, custom made for each page.
            <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
    -->
</section>
<section class="content">
    <div class="col-md-8 col-md-offset-2">
        <div class="col-md-12">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-green">
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">{{ currentuser['name'] }}</h3>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li><a href="#">Username: {{ currentuser['username'] }}</a></li>
                        <li><a href="#">Email: {{ currentuser['email'] }}</a></li>
                        <li><a href="#">Mobile: {{ currentuser['mobile'] }}</a></li>
                        <li><a href="#">Cash on Hand: {{ currentuser['cash'] | round(2, 'ceil') }}</a></li>
                        <li><a href="#">
                            <h4 align="centre"><b>Stocks On Hand</b></h4>
                            Babur : {{ currentuser['stock']['babur'] }}<br>
                            Emptyhad : {{ currentuser['stock']['emptyhad'] }}<br>
                            Gaggle : {{ currentuser['stock']['gaggle'] }}<br>
                            Loyalenfield : {{ currentuser['stock']['loyalenfield'] }}<br>
                            Mapple : {{ currentuser['stock']['mapple'] }}<br>
                            Rexxon : {{ currentuser['stock']['rexxon'] }}<br>
                            Smokacola : {{ currentuser['stock']['smokacola'] }}
                        </a> </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
    </div>
{% endblock %}