{% extends "main.html" %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Trader Dashboard
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
            <h3 class="text-center">Order Details</h3>
            <!--
            Fill these up whenever you feel like it, custom made for each page.
            <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
    -->
</section>

<section class="content">
        <div class="col-md-12">
            <!-- Widget: user widget style 1 -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">
                <p style="color: #1c2529">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Order List</h3>
                </div>
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <table id="example2" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Company</th>
                                    <th>RatePrice</th>
                                    <th>ExecPrice</th>
                                    <th>Type</th>
                                    <th>Units</th>
                                    <th>Status</th>
                                    <th>Cancel Order</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for foo in orders %}
                                    {%  for bar in orders[foo] %}

                                        <tr>
                                            <td>{{ bar['orderId'] | truncate(8,True,end='')}}</td>
                                            <td>{{ bar['company'] }}</td>
                                            <td>{{ bar['limit']  }}</td>
                                            {% if bar['executedPrice'] %}
                                            <td>{{ bar['executedPrice'] | round(2,'ceil')}}</td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                            <td>{{ bar['type'] }}</td>
                                            <td>{{ bar['units'] }}</td>
                                            <td>{{ bar['status'] }}</td>
                                            <td>
                                                {% if bar['cancel'] %}
                                                    {% if loop.index == 1 %}
                                                    <form action="{{ url_for('cancelOrder') }}" method=post>
                                                        <input type="hidden" value="{{ bar['orderId'] }}" name="id">
                                                        <input type="hidden" value="{{ bar['type'] }}" name="type">
                                                        <input type="hidden" value="{{ bar['company'] }}" name="company">
                                                        <input type="submit" value="Cancel">
                                                    </form>
                                                        {% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</section>
    </div>
{% endblock %}