{% extends "main.html" %}

{% block body %}
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Way of the Game
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
            <h3 class="text-center">Tips</h3>
            <!--
            Fill these up whenever you feel like it, custom made for each page.
            <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
    -->
</section>
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Tips!</h3>
        </div>
        <div class="box-body">
            <ul>
                <h4>
                    <li> Before Buying or Selling stock, Reload the page to get latest updates.</li>
                    <li> Check the News first, then the Ticker Price.</li>
                    <li> Go to Check Spread, and see the range of cash the money is being traded at, to get an idea
                    at which you can buy or sell the stocks, it has been removed for days 4 and 5 (final day) </li>
                    <li> Check Portfolio for knowing the stocks that you own.</li>
                    <li> See the Rank List, to get an idea of how you're faring in the market.</li>
                    <li> Check Order Status for seeing the status of your current orders. You can cancel the
                    orders that haven't been completely executed or the remaining orders in partial execution.</li>
                    <li> News. News. News. That's the buzzword for the entire duration of the event.</li>
                    <li> Interpret the news wisely, and see which stocks you can buy or sell.</li>
                    <li> Trade wisely, according to the money in Ticker Price. Do not put audacious bids, and waste time.</li>
                    <li> Search for the news about companies to see how they've been faring in the market. </li>
                    <li> Invest in companies you feel confident about</li>
                    <li> Check the Spread Link to see the Range of Transactions.</li>
                </h4>
            </ul>
        </div>
    </div>
</section>
</div>
{% endblock %}
