{% extends "main.html" %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Rank List
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
            <h3 class="text-center">Rank List</h3>
            <!--
            Fill these up whenever you feel like it, custom made for each page.
            <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
    -->
</section>

<section class="content">
        <div class="col-md-12">
            <!-- Widget: user widget style 1 -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Rank List</h3>
                </div>
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <table id="example2" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Username</th>
                                    <th>Cash</th>
                                    <th>Cash+StockValue</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for foo in ranklist %}
                                    <tr>
                                        <td>{{ foo['rank']}}</td>
                                        <td>{{ foo['username'] }}</td>
                                        <td>{{ foo['cash'] | round(2, 'ceil') }}</td>
                                        <td>{{ foo['totalCash'] | round(2, 'ceil') }}</td>
                                    </tr>
                                {% endfor %}
                            <tr style="color: black; background: #78AED1">
                                <td> {{ rank['rank'] }} </td>
                                <td> {{ currentuser['username'] }}</td>
                                <td> {{ rank['cash'] | round(2, 'ceil') }}</td>
                                <td> {{ rank['totalCash'] | round(2, 'ceil') }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
</section>
    </div>
{% endblock %}