{% extends "main.html" %}

{% block body %}
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Decree of the House
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
            <h3 class="text-center">Decree</h3>
            <!--
            Fill these up whenever you feel like it, custom made for each page.
            <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
    -->
</section>
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Rules!</h3>
        </div>
        <div class="box-body">
            <ul>
                <h4>
                    <li> Participant must be registered for Kurukshetra'17!</li>
                    <li> Single person accessing multiple accounts will be disqualified.</li>
                    <li> Each Participant will be given &#8377; 10,000 of Virtual Currency to do trading</li>
                    <li> Players will be allowed to trade only when the market is open.</li>
                    <li> The Ranklist shall be applied based on the Value of Stocks + Cash on hand.</li>
                    <li> There will be a Trial Run and Main Run, only top two during Main Run will be considered for pizes</li>
                    <li> The companies and currency, do not bear resemblance to any real life entity ;). Any similarities is purely co-incidental.</li>
                    <li> Check <a href="{{ url_for('howtoplay') }}">How to Play</a> for tips on how to trade.</li>
                    <li> Send mail to dalalbull@kurukshetra.org.in for any queries.</li>

                </h4>
            </ul>
        </div>
    </div>
</section>
</div>
{% endblock %}
