{% extends "main.html" %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Spread
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
            <h3 class="text-center">Spread</h3>
            <!--
            Fill these up whenever you feel like it, custom made for each page.
            <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
    -->
</section>

<section class="content">
        <div class="col-md-12">
            <!-- Widget: user widget style 1 -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Spread</h3>
                </div>
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <table id="example2" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Company</th>
                                    <th>Max Buy Rate</th>
                                    <th>Min Sell Rate</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for foo in spread.keys() %}
                                    <tr>
                                        <td>{{ foo }}</td>
                                        <td>{{ spread[foo]['maximumBuy'] }}</td>
                                        <td>{{ spread[foo]['minimumSell'] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</section>
    </div>
{% endblock %}