{% extends "main.html" %}

{% block body %}
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Company Details
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
            <!--
            Fill these up whenever you feel like it, custom made for each page.
            <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
    -->
</section>
<section class="content">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Company Details</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="box-group" id="accordion">
                <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                <div class="panel box box-success">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                          Babur
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="box-body">
                      <h5>Babur is one of the leading FMCG firm, started in India in the year 1955. After india closed its
                        economy to outside market, the need for fresh indian breath urged Dr Babur to come up with his
                        own range of refreshing products for indian households. Since then the company has grown leaps
                          and bounds and has established itself as an international giant. This company's growth is attributed
                      for their courage to introduce new products in different regions.</h5>
                    </div>
                  </div>
                </div>
                <div class="panel box box-success">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        Emptyhad Airways
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="box-body">
                      In the year 1980, air travel was still inaccessible for majority of the population in Australian Region.
                        Thus, it's founder Mr. M.T. Hand decided to start a low-price aircraft, accessible to the length and breadth
                        of the nation. Since its inception, it has experienced tremendous growth, mainly due to its founder
                        acquiring Defence Contracts with most of the countries in the Pacific Region. It doesn't do much experimentation,
                        believes in sticking to the old proven techniques, neverthelesss, it has started venturing into designing better
                        engines over the course of the past few years.
                    </div>
                  </div>
                </div>
                <div class="panel box box-success">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        Gaggle
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="box-body">
                      Gaggle is Web Technology Company founded in 1995, by students of Zurich University. It initially started off
                        as a Search Engine, for research scholars, and since then has expanded into a technology giant in the world.
                        They are known for pouring money into Research and Developments, and reaping quite hefty rewards from time to time.
                        It's CEO has been a lynchpin in the smooth running of the company, and making sure that it doesn't make any bad decisions.
                    </div>
                  </div>
                </div>
                  <div class="panel box box-success">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                        LoyalEnfield
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse">
                    <div class="box-body">
                        LoyalEnfield is an Automotive Giant started in India, started in the year 1945. This company rose out
                        of the Nationalist movement in 1945 which saw a huge increase in Indian companies coming to the
                        international market. It has been a loyal servant to the indian army and has a name for experimenting
                        with new types of engines, eventually becoming trend-setters. It has made a lot of smart decisions
                        in the past leading to good returns, but has a tendency to go over board sometimes, and ending up
                        on the losing side.
                    </div>
                  </div>
                </div>
                  <div class="panel box box-success">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                        Mapple
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse">
                    <div class="box-body">
                        Mapple is a Taiwanese Electronics giant, started by Mr. Ma in the year 1963. In 1963, it took Taiwanese
                        almost 2 months to ship a computer with good computation power, hence Mr Ma. started producing
                        computers on their own. It is an extremely stable company, which incrementaly experiments with its
                         existing range of products. This company is said to have a very loyal customer Following.
                    </div>
                  </div>
                </div>

                  <div class="panel box box-success">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                        Rexxon
                      </a>
                    </h4>
                  </div>
                  <div id="collapseSix" class="panel-collapse collapse">
                    <div class="box-body">
                        Rexxon is an Oil Mining company set up in Alaska in the year 1867. It was started when Mr. Rexxon on a
                         fishing trip found a lot of dead fish, and the reason was attributed the presence of Oil in the region.
                        Thus, he acquired permission to start drilling in the area, and since then have become a monopoly in the
                         Oil field. They do no experiment with their products, but they are known to take some risk from time to time.
                    </div>
                  </div>
                </div>

                  <div class="panel box box-success">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                        SmokaCola
                      </a>
                    </h4>
                  </div>
                  <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="box-body">
                        It was established after its founder found himself getting bored of conventional drinks,
                        hence came Smokacola. It has been consistenly succesful amidst allegations, it is known to take
                        risks and it has been quite rewarding for the shareholders. It experiments a lot with the products
                        and has quite a good rate of success.
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>
</div>
{% endblock %}