{% extends "main.html" %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">

        <div class="row">
        <div style="margin-left: auto; width:50%; float: left;">
                <h1>
                Latest News
                <h5>With Great Power Comes Great Responsibility! :)  </h5>
            </h1>


            <h4>Cash on Hand: {{ currentuser['cash'] | round(2, 'ceil') }} &nbsp;&nbsp; Stock Value: {{ stockvalue | round(2, 'ceil')}}</h4>
        </div>

            <div style="margin-left: auto; width:50%;">
                <img src="../static/img/k iso logo 2017 with dates.png" style="width:70%;"/>
            </div>
        </div>
            <marquee scrollamount="15">
                <h3>
                    Gaggle - {{ gaggle['price'] | round(2, 'ceil')}}
                        {% if gaggle['color'] == 'green' %}
                            <span class="glyphicon glyphicon-arrow-up" style="color: green"></span>
                        {% elif gaggle['color'] == 'red' %}
                            <span class="glyphicon glyphicon-arrow-down" style="color: red"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-minus"></span>
                        {% endif %}, &nbsp;&nbsp;&nbsp;
                    Mapple - {{ mapple['price'] | round(2, 'ceil')}}
                        {% if mapple['color'] == 'green' %}
                            <span class="glyphicon glyphicon-arrow-up" style="color: green"></span>
                        {% elif mapple['color'] == 'red' %}
                            <span class="glyphicon glyphicon-arrow-down" style="color: red"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-minus"></span>
                        {% endif %}, &nbsp;&nbsp;&nbsp;
                    Babur - {{ babur['price'] | round(2, 'ceil')}}
                         {% if babur['color'] == 'green' %}
                            <span class="glyphicon glyphicon-arrow-up" style="color: green"></span>
                         {% elif babur['color'] == 'red' %}
                             <span class="glyphicon glyphicon-arrow-down" style="color: red"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-minus"></span>
                        {% endif %},&nbsp;&nbsp;&nbsp;
                    Emptyhad - {{ emptyhad['price'] | round(2, 'ceil') }}
                        {% if emptyhad['color'] == 'green' %}
                            <span class="glyphicon glyphicon-arrow-up" style="color: green"></span>
                        {% elif emptyhad['color'] == 'red' %}
                            <span class="glyphicon glyphicon-arrow-down" style="color: red"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-minus"></span>
                        {% endif %}, &nbsp;&nbsp;&nbsp;
                    Smokacola - {{ smokacola['price'] | round(2, 'ceil') }}
                        {% if smokacola['color'] == 'green' %}
                            <span class="glyphicon glyphicon-arrow-up" style="color: green"></span>
                        {% elif smokacola['color'] == 'red' %}
                            <span class="glyphicon glyphicon-arrow-down" style="color: red"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-minus"></span>
                        {% endif %},&nbsp;&nbsp;&nbsp;
                    Loyalenfield - {{ loyalenfield['price'] | round(2, 'ceil') }}
                         {% if loyalenfield['color'] == 'green' %}
                            <span class="glyphicon glyphicon-arrow-up" style="color: green"></span>
                         {% elif loyalenfield['color'] == 'red' %}
                            <span class="glyphicon glyphicon-arrow-down" style="color: red"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-minus"></span>
                        {% endif %},&nbsp;&nbsp;&nbsp;
                    Rexxon - {{ rexxon['price'] | round(2, 'ceil')}}
                         {% if rexxon['color'] == 'green' %}
                            <span class="glyphicon glyphicon-arrow-up" style="color: green"></span>
                         {% elif rexxon['color'] == 'red' %}
                             <span class="glyphicon glyphicon-arrow-down" style="color: red"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-minus"></span>
                        {% endif %}
                </h3>
            </marquee>
        </div>
<!-- Main content -->
<section class="content">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                    <p style="color: #1c2529"><h4 style="color: #0480be">{{ message }}</h4></p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div class="row">
    <div class="col-sm-6">
        <div class="box">
        <div class="box-header">
            <h3 class="box-title" align="center">Latest news</h3>
        </div>
        <div class="box-body">
            <div class="dataTables_wrapper form-inline dt-bootstrap">
                <table id="example1" class='table table-bordered'>
                    <thead>
                        <tr>
                            <th align="center">News</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for foo in news %}
                            <tr>
                                <td>{{ foo['News'] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3>Place New Order</h3>
                <code>Refresh Before Placing Order, to get latest Updates.</code>
            </div>
            <div class="box-body">
                <form action="{{ url_for('newOrder') }}" method="post">
                    <div class="form-group">
                        <label for="type">Type of Order:</label>
                        <div class="row">
                            <div class="col-lg-8">
                        <select name="type_order" required style="width: 70px; height: 30px; font-size: larger; font-weight: 600;">
                            <option value="buy" >Buy</option>
                            <option value="sell">Sell</option>
                        </select>
                            </div>
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                        <label for="company">Company Name:</label>
                        <div class="row">
                            <div class="col-lg-8">
                        <select name="company" required style="width: 100px; height: 45px; font-size: larger; font-weight: 600;">
                            {% for company in companies %}
                                <option value="{{ company }}">{{ company }}</option>
                            {% endfor %}
                        </select>
                            </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label for="limit">Sell/Buy Rate</label>
                                <input type="text" name="limit" class="form-control" placeholder="Enter the buy/sell rate" required>
                                <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label for="limit">Number of Units</label>
                                <input type="number" name="units" min="1" class="form-control" placeholder="Enter number of units of stock" required>
                                <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-offset-xs-4" style="position: relative; margin: 0 auto; left: 115px;">
                                <input type="submit" class="btn btn-danger btn-block" value="Submit Order" >
                         </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
    </section>
<!-- /.content -->
</div>
    <!-- page script -->
{% endblock %}