<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dalal Bull | Forgot Password</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/AdminLTE.min.css') }}">
  <!-- iCheck -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/iCheck/square/blue.css' )}}">

</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
      <a href="/" class="text-primary"><b>k! Dalal Bull</b></a>
  </div>
  <!-- /.login-logo -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                <p style="color: #1c2529">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

  <div class="login-box-body">
    <p class="login-box-msg">
        Enter your Registered Email ID.
    </p>
      <form action="{{ url_for('Password') }}"  method="post">
        <div class="form-group has-feedback">
            <label for="username">Email:</label>
            <input class="form-control" type="text" name="email" placeholder="Enter your Registered Email" required>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
          <div class="row">
              <div class="col-xs-10 col-offset-xs-2">
                  <input type="submit" class="btn btn-primary btn-block" value="Change Password">
              </div>
          </div>
      </form>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 2.2.0 -->
 <script src="{{ url_for('static', filename = 'plugins/jQuery/jQuery-2.2.0.min.js') }}"></script>

<!-- iCheck -->
<script src="{{ url_for('static', filename = 'plugins/iCheck/icheck.min.js' )}}"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
</body>
</html>
